@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--foreground-rgb: 0, 0, 0;
		--background-start-rgb: 214, 219, 220;
		--background-end-rgb: 255, 255, 255;

		--nav-color: hsl(223, 70%, 4%);
		--muted: hsl(240, 4.8%, 95.9%);

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	/* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */

	*:focus {
		outline: 0;
	}

	/* * {
    outline: 1px solid red;
  } */

	body {
		background: #fff;
		color: #030711;
	}
}

@layer components {
	.wrapper {
		@apply max-w-[1300px];
	}

	.navlink {
		@apply text-[var(--nav-color)] tracking-[-0.18px] text-base font-[500] leading-[28px]
     hover:text-gray-700 transition-all duration-300;
	}

	#sidebar a.active {
		@apply bg-primary hover:text-white text-white;
	}

	.chat {
		resize: none;
	}

	.userChatLine {
		@apply text-white flex w-[90%] sm:w-[70%] flex-col gap-2 rounded-lg px-4 py-3 text-sm bg-[var(--nav-color)] mb-[15px];
	}

	.aiChatLine {
		@apply prose break-words prose-p:leading-relaxed prose-pre:p-0 btn flex w-[90%] sm:w-[70%] flex-col gap-2 rounded-lg px-4 py-3 text-sm mb-[15px];
	}

	.inputCtn {
		@apply flex items-center space-x-[16px] border-primary focus:border-gray-400 border-[1px] w-full py-[6px] pl-[6px] pr-[20px] rounded-[20px];
	}

	.chat-ctn {
		@apply w-full h-[400px] max-h-[400px] flex flex-col justify-start  mb-[1.95rem] border-[1px] sm:p-8 p-3 pt-5 border-primary overflow-y-auto rounded-[20px] scroll-none;
	}

	.chat::-webkit-scrollbar {
		display: none;
	}

	.scroll-none::-webkit-scrollbar {
		display: none;
	}

	.btn {
		@apply bg-primary !text-white;
	}
}

.anim {
	background-image: linear-gradient(to right, #217756, #91dcbf);
	background-size: auto auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	background-size: 200% auto;
	color: transparent;
	animation: gradientAnimation 2s linear infinite;
}

@keyframes gradientAnimation {
	to {
		background-position: 200% center;
	}
}
