@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --nav-color: #030711;
  }

  *:focus {
    outline: 0;
  }

  body {
    background: #fff;
    color: #030711;
  }

  .wrapper {
    @apply max-w-[1300px];
  }

  .navlink {
    @apply text-[var(--nav-color)] tracking-[-0.18px] text-[16px] font-[500] leading-[28px] py-[8px] px-[24px]
     hover:text-gray-700 transition-all duration-300;
  }

  .chat {
    resize: none;
  }
  .chat::-webkit-scrollbar {
    display: none;
  }

}
